.hide-scrollbar {
  -ms-overflow-style: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

#hm-container {
  overflow: scroll;
  height: 100vh;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30vh;
  width: 60vw;
  text-align: center;
  z-index: 11;
  font-weight: bold;
  padding: 1em;
  transition-duration: .5s;
}

.sticky-view {
  position: sticky;
  top: 0;
}