.hide-scrollbar {
  -ms-overflow-style: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

#hm-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.section-wrapper {
  position: relative;
  overflow: hidden;
}

.section-box {
  position: absolute;
  height: 100%;
  width: 100%;
  /* transition-duration: .3s; */
}

.sticky-view {
  position: sticky;
  top: 0;
}

.maps-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/undraw_my_current_location_re_whmt.svg");
  background-size: cover;
  opacity: .5;
}

.bio-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -11;
  background-image: url("../assets/undraw_personal_info_-0-okl.svg");
  background-size: cover;
  opacity: .5;
}

.photo-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/undraw_moments_0y20.svg");
  background-size: cover;
  opacity: .5;
}

.search-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -11;
  background-image: url("../assets/undraw_file_searching_re_3evy.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
}

.carousel-bg::before {
  content: '';
  position: absolute;
  height: 102%;
  width: 100%;
  z-index: -11;
  background-image: url("../assets/undraw_file_searching_re_3evy.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .5;
}