.hide-scrollbar {
  -ms-overflow-style: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

#hm-container {
  overflow: scroll;
  height: 100vh;
}

.section-wrapper {
  position: relative;
  overflow: hidden;
}

.section-box {
  position: absolute;
  height: 100%;
  width: 100%;
  /* transition-duration: .3s; */
}

.sticky-view {
  position: sticky;
  top: 0;
}