/* .bio-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.bio-container,
.bio-container-col {
  width: 100%;
}

.bio-container-col>div {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.bio-container .ant-card {
  border-radius: 4px;
  min-height: 20vh;
  min-height: calc(var(--vh, 1vh) * 20);
  max-height: 60vh;
  max-height: calc(var(--vh, 1vh) * 60);
  width: 40%;
  max-width: 100%;
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: .3s;
}

.bio-container .ant-card:hover {
  box-shadow: 0 4px 1em rgba(0, 0, 0, .25);
}

.bio-container .ant-card-body {
  padding-top: 0;
  padding-bottom: .5em;
  min-height: 10em;
  max-height: 100%;
  overflow-y: auto;
  /* padding-top: 0; */
}

.bio-container .ant-card-body::-webkit-scrollbar {
  width: 4px;
}

.bio-container .ant-card-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
}

.bio-container .ant-card-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5);
}


.card-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding-block: 1em;
}

.card-header>* {
  margin: 0 1em 0 0 !important;
}

.card-header .ant-avatar {
  width: 5vmin;
  min-width: 2em;
  height: 5vmin;
  min-height: 2em;
}


/* .bio-container-title {
  color: white;
  max-height: 10vh;
  max-height: calc(var(--vh, 1vh) * 10);
} */

.bio-card-container {
  overflow-y: auto;
  max-height: 90vh;
  max-height: calc(var(--vh, 1vh) * 90);
}

.bio-card-container::-webkit-scrollbar {
  width: 1em;
}

.bio-card-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 2px;
}

.bio-card-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 768px) {
  .bio-container .ant-card {
    max-height: 40vh;
    max-height: calc(var(--vh, 1vh) * 40);
    width: 80%;
  }

  .bio-container-title {
    top: -5%;
  }

  .bio-card-container::-webkit-scrollbar {
    width: 4px;
  }
}

@media screen and (max-height: 500px) {
  .bio-container .ant-card {
    max-height: 90vh;
    max-height: calc(var(--vh, 1vh) * 90);
    width: 45%;
  }
}