.bio-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-container-col>div {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.bio-container .ant-card {
  border-radius: 4px;
  max-height: 60vh;
  max-height: calc(var(--vh, 1vh) * 60);
  width: 40%;
  max-width: 100%;
  margin: .5em;
  display: flex;
  flex-direction: column;
  transition-duration: .3s;
}

.bio-container .ant-card:hover {
  box-shadow: 0 4px 1em rgba(0, 0, 0, .25);
}

.bio-container .ant-card-body {
  height: 100%;
  overflow-y: scroll;
  /* padding-top: 0; */
}

.bio-container .ant-card-body::-webkit-scrollbar {
  width: 4px;
}

.bio-container .ant-card-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
}

.bio-container .ant-card-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .5);
}


.card-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin-bottom: 1em;
}

.card-header>* {
  margin: 0 1em 0 0 !important;
}


.bio-container-title {
  color: white;
}

@media screen and (max-width: 768px) {
  .bio-container .ant-card {
    max-height: 40vh;
    max-height: calc(var(--vh, 1vh) * 40);
    width: 80%;
  }

  .bio-container-title {
    top: -5%;
  }
}

@media screen and (max-height: 500px) {
  .bio-container .ant-card {
    max-height: 90vh;
    max-height: calc(var(--vh, 1vh) * 90);
    width: 45%;
  }
}