.header-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hs-menu {
  z-index: 22;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: border-radius ease 0.3s, min-width ease 0.3s;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.affixed {
  position: fixed;
  top: 0;
  border-radius: 0 0 1em 1em;
}

.affix-static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 1024px) {
  .hs-menu {
    min-width: 30%;
    max-width: 100%;
  }

  .hs-menu-item {
    text-align: center;
    padding: 0 !important;
    min-width: 4em;
  }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
  .hs-menu {
    min-width: 60%;
    max-width: 100%;
  }
}

/* @media for mobile device */
@media only screen and (hover: none) and (pointer: coarse) {
  .header-section .ant-menu-item:not(.ant-menu-item-selected) {
    color: initial !important;
    transition: none;
  }

  .header-section .ant-menu-item:not(.ant-menu-item-selected)::after {
    transition: none;
    display: none !important;
  }

  .header-section .ant-menu-item:hover:not(.ant-menu-item-selected) {
    color: initial !important;
  }

  .header-section .ant-menu-item:hover:not(.ant-menu-item-selected)::after {
    display: none !important;
  }

}